:root {
	background-color:rgb(135, 206, 235);
}

div p:first-child {
	color:white;
	background-color :black ;
}

div p:nth-child(2) {
	/* your styles for the second paragraph */
}

div p:last-child {
	color:red;
}

ul {
	width:50%;
}

ul li {
	padding: 10px;
	background-color: gray;
}

ul li:nth-child(odd) {
	background-color: white;
}

ul li:first-child, ul li:last-child {
	font-size: 22px;
}

ul li:nth-last-child(3) {
	background-color: pink;
}